<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<welcome-file-list>
		<welcome-file>cookie.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>casctb</servlet-name>
		<servlet-class>com.bjpowernode.javaweb.servlet.CreateAndSendCookieToBrowserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>casctb</servlet-name>
		<url-pattern>/test/createAndSendCookieToBrowser</url-pattern>
		<url-pattern>/a</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sendCookieToServer</servlet-name>
		<servlet-class>com.bjpowernode.javaweb.servlet.ReceiveCookiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendCookieToServer</servlet-name>
		<url-pattern>/test/sendCookieToServer</url-pattern>
	</servlet-mapping>
	
	
</web-app>
